<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Space Not Found</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/base/general.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <img src="/img/logo/mainLogo_light.png" alt="mainLogo_light">
            </div>
        </header>
    </div>
</body>
</html>